page-login {
    background: transparent;

    

    .login-wrapper {
        background: url('../assets/bg-mobile.png');
        background-size: cover;
        width: 100%;
        height: 100%;

        ion-header {
            display: none;
        }

        ion-content {
            background: transparent;

            .login-card {
                border-radius: 5px;

                .oxy-logo {
                    width: 85%;
                    margin: 15px auto;
                }

                .content-container {
                    padding: 15px;

                    ion-item {
                        padding: 0;
                        margin: 5px 0 5px 0;

                        .item-inner {
                            color: lightslategrey;
                            font-size: 1.2em;

                            input {
                                outline: 0;
                            }
                        }
                    }

                    .invalid-input {
                        color: color($colors, danger);
                    }
                }
            }
        }
    }
}

@media screen and (min-height: 800px) and (min-width: 450px) {
    page-login {

        .login-wrapper {
            background: url('../assets/bg@1x.png');

            ion-header {
                display: block;
            }
        }

        .login-card {
            width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media screen and (min-width: 3000px) {
    page-login {
        .login-wrapper {
            background: url('../assets/bg@2x.png')
        }
    }
}
