page-home {
    .scroll-content {
        background: #DDD;
    }

    #logo {
        width: 40px;
        margin-left: 15px;
    }

    #logout-button {
        span {
            margin-right: 5px;
            font-size: 1.2em;
        }
    }

    .topbar-left {
        display: flex;
        align-items: center;

        div {
            color: color($colors, oxy-primary);
            margin-left: 20px;
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    .well-wrapper {        

        ion-grid {
            max-width: 2000px;

            ion-col {
                min-height: 325px;
            }
        }

        #addWellIcon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: transparent;
            font-size: 60px;
            cursor: pointer;
        }

        ion-card {
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            top: 0;
            transition: top .3s;

            ion-card-header {
                background: white;
                font-size: 2em;
                text-align: center;
                color: #666;
            }

            ion-card-content {
                font-size: 1.8em;
                background: #EEE;
                padding: 0;

                .stat {
                    margin: auto;
                    display: flex;
                    height: 60px;
                    color: white;
                    line-height: 60px;
                    justify-content: space-between;
                    

                    ion-icon {
                        margin: 0 10px 0 15px;
                        position: relative;
                        top: 15px;
                    }

                    span {
                        padding: 0 10px;
                    }

                    &:nth-child(1) {background: #CDD9E3;}
                    &:nth-child(2) {background: #94A9BA;}
                    &:nth-child(3) {background: #778FA1;}
                    &:nth-child(4) {background: #4F6C82;}

                }
                
            }

            &:hover {
                top: -7px;
            }
        }
    }
}
