page-home {

    #logo {
        width: 30px;
    }

    .well-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        ion-card {
            display: inline-block;
            opacity: 0;
            transform: scale(1);
            animation-name: animateInWell;
            animation-duration: .60s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
        }
    }
    
}

@keyframes animateInWell {
    0% { opacity: 0; transform: scale(.5)}
    50% {transform: scale(1.1)}
    57% {opacity: 1;}
    70% {transform: scale(.96)}
    86% {transform: scale(1.02)}
    100% {opacity: 1; transform: scale(1)}
}
